<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TaxRate" value="0.0875"/>
    <add key="InventoryLog" value=".\inventorylog.csv"/>
    <add key="TransactionLog" value=".\transactionlog.csv"/>

    <add key="MasterDiscountThresh" value="1000.00"/>
    <add key="MasterDiscountPercent" value="0.10"/>
    
    <add key="RevenueGroupCount" value="2"/>
    <add key="RevenueGroup1" value="Jarlidium"/>
    <add key="RevenueGroup2" value="Dan"/>


    <add key="DiscountCount" value="1"/>

    <add key="Discount1Type" value="percentbycount"/>
    <add key="Discount1Name" value="comicsized"/>
    <add key="Discount1Taxable" value="taxable"/>
    <add key="Discount1Revgrp" value="Jarlidium"/>
    <add key="Discount1Entries" value="3"/>
    <add key="Discount1Entry1Low" value="3"/>
    <add key="Discount1Entry1High" value="6"/>
    <add key="Discount1Entry1Discount" value="0.125"/>
    <add key="Discount1Entry2Low" value="6"/>
    <add key="Discount1Entry2High" value="10"/>
    <add key="Discount1Entry2Discount" value="0.25"/>
    <add key="Discount1Entry3Low" value="10"/>
    <add key="Discount1Entry3High" value="999"/>
    <add key="Discount1Entry3Discount" value="0.375"/>

  </appSettings>
</configuration>