<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TaxRate" value="0.0875"/>
    <add key="InventoryLog" value=".\inventorylog.csv"/>
    <add key="TransactionLog" value=".\transactionlog.csv"/>

    <add key="MasterDiscountThresh" value="1000.00"/>
    <add key="MasterDiscountPercent" value="0.10"/>
    
    <add key="RevenueGroupCount" value="2"/>
    <add key="RevenueGroup1" value="Jarlidium"/>
    <add key="RevenueGroup2" value="Dan"/>

    <add key="ItemMax" value="600"/>

    <add key="Item3Type" value="FixedItem"/>
    <add key="Item3Color" value="FFDDAAAA"/>
    <add key="Item3Name" value="NAF 23"/>
    <add key="Item3Price" value="1.00"/>
    <add key="Item3Taxable" value="taxable"/>
    <add key="Item3Revgrp" value="Jarlidium"/>
    <add key="Item3Sort" value="15"/>

    <add key="Item8Type" value="FixedItem"/>
    <add key="Item8Color" value="FFDDAAAA"/>
    <add key="Item8Name" value="NAF 30"/>
    <add key="Item8Price" value="18.00"/>
    <add key="Item8Taxable" value="taxable"/>
    <add key="Item8Revgrp" value="Jarlidium"/>
    <add key="Item8Sort" value="36"/>

    <add key="Item15Type" value="FixedItem"/>
    <add key="Item15Color" value="FFDDAAAA"/>
    <add key="Item15Name" value="NAF 31"/>
    <add key="Item15Price" value="18.00"/>
    <add key="Item15Taxable" value="taxable"/>
    <add key="Item15Revgrp" value="Jarlidium"/>
    <add key="Item15Sort" value="38"/>

    <add key="Item10Type" value="FixedDetailsItem"/>
    <add key="Item10Color" value="FFDDBBBB"/>
    <add key="Item10Name" value="NAF subs 1yr"/>
    <add key="Item10Price" value="40.00"/>
    <add key="Item10Taxable" value="nontaxable"/>
    <add key="Item10Revgrp" value="Jarlidium"/>
    <add key="Item10Sort" value="50"/>

    <add key="Item11Type" value="FixedDetailsItem"/>
    <add key="Item11Color" value="FFDDBBBB"/>
    <add key="Item11Name" value="NAF subs 2yr"/>
    <add key="Item11Price" value="75.00"/>
    <add key="Item11Taxable" value="nontaxable"/>
    <add key="Item11Revgrp" value="Jarlidium"/>
    <add key="Item11Sort" value="55"/>

    <add key="Item20Type" value="FixedItem"/>
    <add key="Item20Color" value="FFAADDAA"/>
    <add key="Item20Name" value="ATSFOS"/>
    <add key="Item20Price" value="10.00"/>
    <add key="Item20Taxable" value="taxable"/>
    <add key="Item20Revgrp" value="Jarlidium"/>
    <add key="Item20Sort" value="100"/>

    <add key="Item22Type" value="FixedItem"/>
    <add key="Item22Color" value="FFAADDAA"/>
    <add key="Item22Name" value="Happy Little Trees"/>
    <add key="Item22Price" value="10.00"/>
    <add key="Item22Taxable" value="taxable"/>
    <add key="Item22Revgrp" value="Jarlidium"/>
    <add key="Item22Sort" value="110"/>

    <add key="Item24Type" value="FixedItem"/>
    <add key="Item24Color" value="FFAADDAA"/>
    <add key="Item24Name" value="Omnibus"/>
    <add key="Item24Price" value="18.00"/>
    <add key="Item24Taxable" value="taxable"/>
    <add key="Item24Revgrp" value="Jarlidium"/>
    <add key="Item24Sort" value="120"/>

    <add key="Item25Type" value="FixedItem"/>
    <add key="Item25Color" value="FFAADDAA"/>
    <add key="Item25Name" value="Rooby-Roo"/>
    <add key="Item25Price" value="4.00"/>
    <add key="Item25Taxable" value="taxable"/>
    <add key="Item25Revgrp" value="Jarlidium"/>
    <add key="Item25Sort" value="125"/>

    <add key="Item30Type" value="FixedItem"/>
    <add key="Item30Color" value="FFCC8888"/>
    <add key="Item30Name" value="YARF! v1"/>
    <add key="Item30Price" value="15.00"/>
    <add key="Item30Taxable" value="taxable"/>
    <add key="Item30Revgrp" value="Jarlidium"/>
    <add key="Item30Sort" value="200"/>

    <add key="Item31Type" value="FixedItem"/>
    <add key="Item31Color" value="FFCC8888"/>
    <add key="Item31Name" value="YARF! v2"/>
    <add key="Item31Price" value="15.00"/>
    <add key="Item31Taxable" value="taxable"/>
    <add key="Item31Revgrp" value="Jarlidium"/>
    <add key="Item31Sort" value="205"/>

    <add key="Item32Type" value="FixedItem"/>
    <add key="Item32Color" value="FFCC8888"/>
    <add key="Item32Name" value="YARF! v3"/>
    <add key="Item32Price" value="15.00"/>
    <add key="Item32Taxable" value="taxable"/>
    <add key="Item32Revgrp" value="Jarlidium"/>
    <add key="Item32Sort" value="210"/>

    <add key="Item33Type" value="FixedItem"/>
    <add key="Item33Color" value="FFCC8888"/>
    <add key="Item33Name" value="YARF! any two"/>
    <add key="Item33Price" value="25.00"/>
    <add key="Item33Taxable" value="taxable"/>
    <add key="Item33Revgrp" value="Jarlidium"/>
    <add key="Item33Sort" value="215"/>

    <add key="Item34Type" value="FixedItem"/>
    <add key="Item34Color" value="FFCC8888"/>
    <add key="Item34Name" value="YARF! trio"/>
    <add key="Item34Price" value="30.00"/>
    <add key="Item34Taxable" value="taxable"/>
    <add key="Item34Revgrp" value="Jarlidium"/>
    <add key="Item34Sort" value="220"/>

    <add key="Item40Type" value="FixedItem"/>
    <add key="Item40Color" value="FF77CCCC"/>
    <add key="Item40Name" value="Scavengers 1"/>
    <add key="Item40Price" value="4.00"/>
    <add key="Item40Taxable" value="taxable"/>
    <add key="Item40Revgrp" value="Jarlidium"/>
    <add key="Item40Discounts" value="comicsized"/>
    <add key="Item40Sort" value="300"/>

    <add key="Item41Type" value="FixedItem"/>
    <add key="Item41Color" value="FF77CCCC"/>
    <add key="Item41Name" value="Scavengers 2"/>
    <add key="Item41Price" value="4.00"/>
    <add key="Item41Taxable" value="taxable"/>
    <add key="Item41Revgrp" value="Jarlidium"/>
    <add key="Item41Discounts" value="comicsized"/>
    <add key="Item41Sort" value="305"/>

    <add key="Item42Type" value="FixedItem"/>
    <add key="Item42Color" value="FF77CCCC"/>
    <add key="Item42Name" value="Scavengers 3"/>
    <add key="Item42Price" value="5.00"/>
    <add key="Item42Taxable" value="taxable"/>
    <add key="Item42Revgrp" value="Jarlidium"/>
    <add key="Item42Discounts" value="comicsized"/>
    <add key="Item42Sort" value="310"/>

    <add key="Item43Type" value="FixedItem"/>
    <add key="Item43Color" value="FF77CCCC"/>
    <add key="Item43Name" value="Scavengers 4"/>
    <add key="Item43Price" value="5.00"/>
    <add key="Item43Taxable" value="taxable"/>
    <add key="Item43Revgrp" value="Jarlidium"/>
    <add key="Item42Discounts" value="comicsized"/>
    <add key="Item43Sort" value="315"/>

    <add key="Item44Type" value="FixedItem"/>
    <add key="Item44Color" value="FF77CCCC"/>
    <add key="Item44Name" value="Scavengers PAK"/>
    <add key="Item44Price" value="15.00"/>
    <add key="Item44Taxable" value="taxable"/>
    <add key="Item44Revgrp" value="Jarlidium"/>
    <add key="Item44Sort" value="320"/>

    <add key="Item52Type" value="FixedItem"/>
    <add key="Item52Color" value="FFCC88CC"/>
    <add key="Item52Name" value="XU 3"/>
    <add key="Item52Price" value="4.00"/>
    <add key="Item52Taxable" value="taxable"/>
    <add key="Item52Revgrp" value="Jarlidium"/>
    <add key="Item52Discounts" value="comicsized"/>
    <add key="Item52Sort" value="330"/>

    <add key="Item53Type" value="FixedItem"/>
    <add key="Item53Color" value="FFCC88CC"/>
    <add key="Item53Name" value="XU 4"/>
    <add key="Item53Price" value="4.00"/>
    <add key="Item53Taxable" value="taxable"/>
    <add key="Item53Revgrp" value="Jarlidium"/>
    <add key="Item53Discounts" value="comicsized"/>
    <add key="Item53Sort" value="335"/>

    <add key="Item54Type" value="FixedItem"/>
    <add key="Item54Color" value="FFCC88CC"/>
    <add key="Item54Name" value="XU 5"/>
    <add key="Item54Price" value="4.00"/>
    <add key="Item54Taxable" value="taxable"/>
    <add key="Item54Revgrp" value="Jarlidium"/>
    <add key="Item54Discounts" value="comicsized"/>
    <add key="Item54Sort" value="337"/>

    <add key="Item55Type" value="FixedItem"/>
    <add key="Item55Color" value="FFCC88CC"/>
    <add key="Item55Name" value="XU 6"/>
    <add key="Item55Price" value="4.00"/>
    <add key="Item55Taxable" value="taxable"/>
    <add key="Item55Revgrp" value="Jarlidium"/>
    <add key="Item55Discounts" value="comicsized"/>
    <add key="Item55Sort" value="339"/>

    <add key="Item56Type" value="FixedItem"/>
    <add key="Item56Color" value="FFCC88CC"/>
    <add key="Item56Name" value="XU 7"/>
    <add key="Item56Price" value="4.00"/>
    <add key="Item56Taxable" value="taxable"/>
    <add key="Item56Revgrp" value="Jarlidium"/>
    <add key="Item56Discounts" value="comicsized"/>
    <add key="Item56Sort" value="340"/>

    <add key="Item60Type" value="FixedItem"/>
    <add key="Item60Color" value="FF99CCCC"/>
    <add key="Item60Name" value="Squeak! 1"/>
    <add key="Item60Price" value="4.00"/>
    <add key="Item60Taxable" value="taxable"/>
    <add key="Item60Revgrp" value="Jarlidium"/>
    <add key="Item60Discounts" value="comicsized"/>
    <add key="Item60Sort" value="342"/>

    <add key="Item61Type" value="FixedItem"/>
    <add key="Item61Color" value="FF99CCCC"/>
    <add key="Item61Name" value="Squeak! 2"/>
    <add key="Item61Price" value="4.00"/>
    <add key="Item61Taxable" value="taxable"/>
    <add key="Item61Revgrp" value="Jarlidium"/>
    <add key="Item61Discounts" value="comicsized"/>
    <add key="Item61Sort" value="345"/>

    <add key="Item62Type" value="FixedItem"/>
    <add key="Item62Color" value="FF99CCCC"/>
    <add key="Item62Name" value="Squeak! 3"/>
    <add key="Item62Price" value="4.00"/>
    <add key="Item62Taxable" value="taxable"/>
    <add key="Item62Revgrp" value="Jarlidium"/>
    <add key="Item62Discounts" value="comicsized"/>
    <add key="Item62Sort" value="350"/>

    <add key="Item64Type" value="FixedItem"/>
    <add key="Item64Color" value="FF99CCCC"/>
    <add key="Item64Name" value="Squeak! 4"/>
    <add key="Item64Price" value="4.00"/>
    <add key="Item64Taxable" value="taxable"/>
    <add key="Item64Revgrp" value="Jarlidium"/>
    <add key="Item64Discounts" value="comicsized"/>
    <add key="Item64Sort" value="355"/>

    <add key="Item65Type" value="FixedItem"/>
    <add key="Item65Color" value="FF99CCCC"/>
    <add key="Item65Name" value="Squeak! 5"/>
    <add key="Item65Price" value="4.00"/>
    <add key="Item65Taxable" value="taxable"/>
    <add key="Item65Revgrp" value="Jarlidium"/>
    <add key="Item65Discounts" value="comicsized"/>
    <add key="Item65Sort" value="360"/>

    <add key="Item66Type" value="FixedItem"/>
    <add key="Item66Color" value="FF99CCCC"/>
    <add key="Item66Name" value="Squeak! 6"/>
    <add key="Item66Price" value="4.00"/>
    <add key="Item66Taxable" value="taxable"/>
    <add key="Item66Revgrp" value="Jarlidium"/>
    <add key="Item66Discounts" value="comicsized"/>
    <add key="Item66Sort" value="364"/>

    <add key="Item70Type" value="FixedItem"/>
    <add key="Item70Color" value="FFCC88AA"/>
    <add key="Item70Name" value="WCA8 Starlite"/>
    <add key="Item70Price" value="4.00"/>
    <add key="Item70Taxable" value="taxable"/>
    <add key="Item70Revgrp" value="Jarlidium"/>
    <add key="Item70Discounts" value="comicsized"/>
    <add key="Item70Sort" value="375"/>

    <add key="Item80Type" value="FixedItem"/>
    <add key="Item80Color" value="FFCC88AA"/>
    <add key="Item80Name" value="WCA9 Murry"/>
    <add key="Item80Price" value="4.00"/>
    <add key="Item80Taxable" value="taxable"/>
    <add key="Item80Revgrp" value="Jarlidium"/>
    <add key="Item80Discounts" value="comicsized"/>
    <add key="Item80Sort" value="400"/>

    <add key="Item81Type" value="FixedItem"/>
    <add key="Item81Color" value="FFCC88AA"/>
    <add key="Item81Name" value="WCA10 DEWEY"/>
    <add key="Item81Price" value="10.00"/>
    <add key="Item81Taxable" value="taxable"/>
    <add key="Item81Revgrp" value="Jarlidium"/>
    <add key="Item81Sort" value="405"/>

    <add key="Item84Type" value="FixedItem"/>
    <add key="Item84Color" value="FFAADDAA"/>
    <add key="Item84Name" value="DOL WCA6 Spring 3"/>
    <add key="Item84Price" value="1.00"/>
    <add key="Item84Taxable" value="taxable"/>
    <add key="Item84Revgrp" value="Jarlidium"/>
    <add key="Item84Sort" value="420"/>

    <add key="Item85Type" value="FixedItem"/>
    <add key="Item85Color" value="FFAADDAA"/>
    <add key="Item85Name" value="DOL WCA7 Spring 4"/>
    <add key="Item85Price" value="1.00"/>
    <add key="Item85Taxable" value="taxable"/>
    <add key="Item85Revgrp" value="Jarlidium"/>
    <add key="Item85Sort" value="425"/>

    <add key="Item114Type" value="FixedItem"/>
    <add key="Item114Color" value="FFDDAADD"/>
    <add key="Item114Name" value="Endtown vols3+4"/>
    <add key="Item114Price" value="20.00"/>
    <add key="Item114Taxable" value="taxable"/>
    <add key="Item114Revgrp" value="Jarlidium"/>
    <add key="Item114Sort" value="520"/>

    <add key="Item115Type" value="FixedItem"/>
    <add key="Item115Color" value="FFDDAADD"/>
    <add key="Item115Name" value="Endtown book1"/>
    <add key="Item115Price" value="20.00"/>
    <add key="Item115Taxable" value="taxable"/>
    <add key="Item115Revgrp" value="Jarlidium"/>
    <add key="Item115Sort" value="525"/>

    <add key="Item116Type" value="FixedItem"/>
    <add key="Item116Color" value="FFDDAADD"/>
    <add key="Item116Name" value="Endtown book2"/>
    <add key="Item116Price" value="20.00"/>
    <add key="Item116Taxable" value="taxable"/>
    <add key="Item116Revgrp" value="Jarlidium"/>
    <add key="Item116Sort" value="530"/>

    <add key="Item117Type" value="FixedItem"/>
    <add key="Item117Color" value="FFDDAADD"/>
    <add key="Item117Name" value="Endtown book1+2"/>
    <add key="Item117Price" value="35.00"/>
    <add key="Item117Taxable" value="taxable"/>
    <add key="Item117Revgrp" value="Jarlidium"/>
    <add key="Item117Sort" value="535"/>

    <add key="Item200Type" value="FixedItem"/>
    <add key="Item200Color" value="FFAAAAEE"/>
    <add key="Item200Name" value="1 badge"/>
    <add key="Item200Price" value="5.00"/>
    <add key="Item200Taxable" value="taxable"/>
    <add key="Item200Revgrp" value="Dan"/>
    <add key="Item200Sort" value="600"/>

    <add key="Item201Type" value="FixedItem"/>
    <add key="Item201Color" value="FFAAAAEE"/>
    <add key="Item201Name" value="2 badges"/>
    <add key="Item201Price" value="10.00"/>
    <add key="Item201Taxable" value="taxable"/>
    <add key="Item201Revgrp" value="Dan"/>
    <add key="Item201Sort" value="605"/>

    <add key="Item202Type" value="FixedItem"/>
    <add key="Item202Color" value="FFAAAAEE"/>
    <add key="Item202Name" value="3 for 2 badges"/>
    <add key="Item202Price" value="10.00"/>
    <add key="Item202Taxable" value="taxable"/>
    <add key="Item202Revgrp" value="Dan"/>
    <add key="Item202Sort" value="610"/>

    <add key="Item203Type" value="FixedItem"/>
    <add key="Item203Color" value="FFAAAAEE"/>
    <add key="Item203Name" value="3for2 w lanyard"/>
    <add key="Item203Price" value="10.00"/>
    <add key="Item203Taxable" value="taxable"/>
    <add key="Item203Revgrp" value="Dan"/>
    <add key="Item203Sort" value="615"/>

    <add key="Item204Type" value="FixedItem"/>
    <add key="Item204Color" value="FFAAAAEE"/>
    <add key="Item204Name" value="lanyard"/>
    <add key="Item204Price" value="1.00"/>
    <add key="Item204Taxable" value="taxable"/>
    <add key="Item204Revgrp" value="Dan"/>
    <add key="Item204Sort" value="620"/>

    <add key="Item205Type" value="FixedItem"/>
    <add key="Item205Color" value="FFAAAAEE"/>
    <add key="Item205Name" value="original"/>
    <add key="Item205Price" value="5.00"/>
    <add key="Item205Taxable" value="taxable"/>
    <add key="Item205Revgrp" value="Dan"/>
    <add key="Item205Sort" value="625"/>

    <add key="Item206Type" value="FixedItem"/>
    <add key="Item206Color" value="FFAAAAEE"/>
    <add key="Item206Name" value="bargain badge"/>
    <add key="Item206Price" value="2.00"/>
    <add key="Item206Taxable" value="taxable"/>
    <add key="Item206Revgrp" value="Dan"/>
    <add key="Item206Sort" value="630"/>

    <add key="Item500Type" value="MiscItem"/>
    <add key="Item500Color" value="FFBBBBBB"/>
    <add key="Item500Name" value="MISC ITEM"/>
    <add key="Item500Sort" value="1000"/>

    <add key="Item501Type" value="MiscItem"/>
    <add key="Item501Color" value="FFAA1111"/>
    <add key="Item501Name" value="REFUND"/>
    <add key="Item501Sort" value="1005"/>



    <add key="DiscountCount" value="1"/>

    <add key="Discount1Type" value="percentbycount"/>
    <add key="Discount1Name" value="comicsized"/>
    <add key="Discount1Taxable" value="taxable"/>
    <add key="Discount1Revgrp" value="Jarlidium"/>
    <add key="Discount1Entries" value="3"/>
    <add key="Discount1Entry1Low" value="3"/>
    <add key="Discount1Entry1High" value="6"/>
    <add key="Discount1Entry1Discount" value="0.125"/>
    <add key="Discount1Entry2Low" value="6"/>
    <add key="Discount1Entry2High" value="10"/>
    <add key="Discount1Entry2Discount" value="0.25"/>
    <add key="Discount1Entry3Low" value="10"/>
    <add key="Discount1Entry3High" value="999"/>
    <add key="Discount1Entry3Discount" value="0.375"/>

  </appSettings>
</configuration>